<nav>
    <div class="nav-links" style="display: none;">
        {{#if loggedIn}}
        <a href="/homepage">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
        {{else}}
        <a href="/homepage">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        {{/if}}
    </div>
</nav>