<div class="form">
    <label for="email-login">Enter Username</label>
    <input class="form-input" type="text" id="input"/>
    <br>
    <label for="email-login">Password</label>
    <input class="form-input" type="text" id="input"/>
    <button type="submit">Sign up</button>
</div>
<div>
    <a href="./login.handlebars">Login</a>
</div>